@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'satoshi variable';
}

@font-face {
  font-family: 'satoshi variable';
  src: url(./fonts/Satoshi-Regular.otf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

input:focus ~ .input-text {
  @apply text-[#A0AEC0] transform -translate-y-4 -translate-x-2 scale-75 font-[500];
}

.h-custom {
  height: calc(100vw - 100px);
}

.h-layout {
  height: calc(100vh - 160px);
}
